@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fdfbf7; 
  color: #474444; 
}
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}

/* Optional image styling for better layout */
.my-masonry-grid img {
  border-radius: 12px;
  display: block;
  width: 100%;
}
